@use "variables";

.footer {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 16px;

  @media (max-width: 1023px) {
    padding: 41px;
  }

  &__logo {
    width: 80px;
    margin: 0 auto 10px;
  }

  &__link {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
      display: inline-block;

      a {
        display: block;
        text-decoration: none;
        padding: 8px 16px;
      }
    }
  }

  p {
    margin-bottom: 16px;
  }
}

.language-selector {
  display: flex;
  align-items: center;

  img {
    height: 18px;
    width: 18px;
  }

  select {
    background-color: transparent;
    color: variables.$colorMainText;
    border: none;

    &:hover {
      color: variables.$colorSecondaryText;
    }

    option {
      color: variables.$colorBackground;
    }
  }
}